@model Reports
@inject IUsersRepository user
@inject IRequestMechanicRepository mechanic
@inject IRequestTripRepository trip
@inject IRequestPoliceRepository police

@{
    var getUser = await user.GetById("Users", Model.UserId);
}


<form asp-action="Details">

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Show Details</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Report Details</a></li>
                        <li class="breadcrumb-item active">Reports Details</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


<!-- /.col -->
<div class="col-md-12">
    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-danger">
            <h3 class="widget-user-username">@Model.RequestType Report By @getUser.UserType</h3>
        </div>
        <div class="widget-user-image">
            <img class="img-circle elevation-2" style="height:100px;width:100px" src="@getUser.ProfilePicture" alt="User Avatar" />
        </div>
        <div class="card-footer">
            <hr />
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <span class="description-text">User Name</span>
                        <h5 class="description-header">@getUser.FirstName @getUser.LastName</h5>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                                @{
                                    var request = "";
                                    if(Model.RequestType == "TrafficPolice")
                                    {
                                        request = "RequestPolice";
                                    }
                                    else if(Model.RequestType == "TaxiDriver")
                                    {
                                        request = "RequestTrip";
                                    }
                                    else if(Model.RequestType == "Mechanic")
                                    {
                                        request = "RequestMechanic";
                                    }
                     }
                    <a asp-action="Details" asp-route-id="@Model.RequestId" asp-controller="@request" class="btn btn-success">View Request <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        <span class="description-text">Details</span>
                        <h5 class="description-header">@Model.Details</h5>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <hr />

            <section class="content">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                        <h3 class="card-title">Administrators' Decision Table</h3>
                                            </div>
                                            <!-- ./card-header -->
                                            <div class="card-body">
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th class="text-center">Date</th>
                                                            <th class="text-center">By</th>
                                                            <th class="text-center">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-widget="expandable-table" aria-expanded="false">
                                                            <td class="text-center">Create</td>
                                                            @{
                                                                if (Model.Stander.CreatedAt != null)
                                                                {
                                                                            <td class="text-center">@Model.Stander.CreatedAt.Value.ToDateTime()</td>
                                                                }
                                                                else
                                                                {
                                                                            <td class="text-center">@Model.Stander.CreatedAt</td>
                                                                }
                                                            }
                                                            <td class="text-center">@Model.Stander.CreatedBy</td>
                                                            <td class="text-center">---------------------------</td>
                                                        </tr>
                                                        <tr data-widget="expandable-table" aria-expanded="false">
                                                            <td class="text-center">Update</td>
                                                            @{
                                                                if (Model.Stander.ModifiedAt != null)
                                                                {
                                                                            <td class="text-center">@Model.Stander.ModifiedAt.Value.ToDateTime()</td>
                                                                }
                                                                else
                                                                {
                                                                            <td class="text-center">@Model.Stander.ModifiedAt</td>
                                                                }
                                                            }
                                                            <td class="text-center">@Model.Stander.ModifiedBy</td>
                                                            <td class="text-center">---------------------------</td>
                                                        </tr>
                                                        <tr data-widget="expandable-table" aria-expanded="false">
                                                            <td class="text-center">Delete</td>
                                                            @{
                                                                if (Model.Stander.DeletedAt != null)
                                                                {
                                                                            <td class="text-center">@Model.Stander.DeletedAt.Value.ToDateTime()</td>
                                                                }
                                                                else
                                                                {
                                                                            <td class="text-center">@Model.Stander.DeletedAt</td>
                                                                }
                                                            }
                                                            <td class="text-center">@Model.Stander.DeletedBy</td>
                                                            <td class="text-center">@Model.Stander.IsDelete
                                                            <td>
                                                        </tr>
                                                        <tr data-widget="expandable-table" aria-expanded="false">
                                                            <td class="text-center">Read</td>
                                                            @{
                                                                if (Model.Stander.ReadAt != null)
                                                                {
                                                                            <td class="text-center">@Model.Stander.ReadAt.Value.ToDateTime()</td>
                                                                }
                                                                else
                                                                {
                                                                            <td class="text-center">@Model.Stander.ReadAt</td>
                                                                }
                                                            
                                                                    <td class="text-center">@Model.Stander.ReadBy</td>
                                                            if(Model.Status == 0)
                                                            {
                                                                    <td class="text-center"><span class="badge badge-warning">UnRead</span></td>
                                                            }
                                                            else
                                                            {
                                                                    <td class="text-center"><span class="badge badge-success">Read</span></td>
                                                            }
                                                            }
                                                            <td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                    </section>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>
</div>
</form>